In [2]:
import numpy as np
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0])

In [3]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [5]:
data.values

array([ 0.25,  0.5 ,  0.75,  1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
						index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['a']

0.25

In [9]:
# dictionary to Series
population_dict = {'California': 38332521,
							'Texas': 26448193,
							'New York': 19651127,
							'Florida': 19552860,
							'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [11]:
population['California':'Illinois'] # this is not possible in dictionary

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
population['California']

38332521

In [13]:
# Data Frames
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [14]:
states = pd.DataFrame({'population': population, 'area': area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [15]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [16]:
states.columns

Index(['area', 'population'], dtype='object')

In [18]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [23]:
data = [{'a': i, 'b': 2*i} for i in range(4)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4
3  3  6

In [36]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [37]:
print(ind, "\n", ind.size, "\n", ind.ndim, "\n", ind.dtype)

Int64Index([2, 3, 5, 7, 11], dtype='int64')
 5
 1
 int64